<div class="destinations-container">
    <div class="destinations">
      <button (click)="showDetails()">Detalles</button>
      <button (click)="showItinerary()">Itinerario</button>
      <button (click)="showLocation()">Ubicación</button>
      <button (click)="showAccommodation()">Opciones de Alojamiento</button>
    </div>
  
    <!-- Contenido dinámico basado en el botón seleccionado -->
    <div class="description-container">
      <!-- Detalles del paquete -->
      <div *ngIf="showingDetails" class="description">
        <h2>Paquete Turístico a Buenos Aires</h2>
        <p class="text">
            Este programa te invita a descubrir Buenos Aires de una manera única, 
            explorando su vibrante vida urbana y su rica historia cultural.    
         <br>
         <br>
         PROGRAMA “RESPIRANDO BUENOS AIRES”
          <br>
          <br>
          Este paquete te propone disfrutar Buenos Aires de una forma diferente, una ciudad llena de energía, historia y modernidad, con una gran variedad de actividades para disfrutar en pareja, en familia, con amigos o conociendo nuevos viajeros. Incluye un recorrido exclusivo por 
          la ciudad, ¡EN BICICLETA! Pedaleando por sus icónicas avenidas y plazas mientras 
          descubres la historia y cultura de la ciudad de manera interactiva. 
          Para quienes prefieren un recorrido más tranquilo, ofrecemos la opción de un City Tour tradicional en bus.
          <br>
          <br>
          LUGAR DE PARTIDA/REGRESO
          Aeropuerto Internacional Ministro Pistarini (Ezeiza)
          <br>  
          <br>  
          HORARIO DE SALIDA
            A confirmar
          <br>  
          <br>  
          INCLUIDO 	
          Traslados In/ Out. 	4 noches de alojamiento con desayuno.
          City BIKE tour por la ciudad. 	Refrigerio durante el recorrido.
          NO INCLUIDO
          <br>  
          <br>  
          Entradas a museos.
          Otros gastos
          <br>
          <br>
          Valor final por pasajero en base doble:

         $ 185,000 (alojando en Hotel Vista Sol 3*)
         $ 220,000 (alojando en NH Collection 4*)
          <br>
          <br>
          **Consultar otras opciones de alojamiento**
          <br>
          <br>
          Comisionable para agencias
          Tarifas por persona, sujetas a disponibilidad y a modificaciones.
          Adicionar 2% de gastos administrativos.
        </p>
      </div>
  
        <!-- Itinerario del paquete -->
      <div *ngIf="showingItinerary" class="itinerary">
        <h3>Itinerario</h3>
        <ul class="items">
          <li>
            Día 1: Llegada a Buenos Aires
            Arribo a la ciudad de Buenos Aires. Traslado al hotel y check-in. 
            Resto del día libre para explorar la ciudad por su cuenta o relajarse en el alojamiento.
            
            </li>
            <li>
                Día 2: City Tour en Bicicleta
                Después del desayuno, nos reunimos en el punto de encuentro establecido para comenzar el City Bike Tour, 
                un recorrido único por las principales avenidas y monumentos de Buenos Aires. 
                Pedalearemos por la ciudad, visitando los atractivos más destacados, 
                como la Plaza de Mayo, el Obelisco, el barrio de San Telmo y la costanera, disfrutando de un recorrido cultural y divertido en bicicleta. 
                El resto de la tarde es libre para seguir descubriendo la ciudad o disfrutar de sus famosos cafés.
                >
            </li>
            <li>

                Día 3: Día Libre y Regreso
                Mañana libre para seguir explorando Buenos Aires, hacer compras en sus tiendas de diseño, visitar algún museo o recorrer más barrios. 
                Traslado al aeropuerto o terminal de buses en el horario acordado para el regreso a su ciudad de origen.
               
            </li>
        </ul>
      </div>
    
  
      <!-- Ubicación del hotel -->
      <div *ngIf="showingLocation" class="map-container iframe">
        <h3>Ubicación Hotel Alto San Isidro</h3>
        <!-- <a href="https://maps.app.goo.gl/rgeZsj7h8RCoGPkm8" target="_blank" style="text-decoration: none; color: blue;">
          Ver ubicación en Google Maps
        </a> -->
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13157.159841586199!2d-58.52913342283205!3d-34.470167800000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb030e4fcceaf%3A0x6bcfec1e0911a096!2sHotel%20Alto%20San%20Isidro!5e0!3m2!1ses-419!2sar!4v1731272250738!5m2!1ses-419!2sar" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div> 
      
  
      <!-- Opciones de alojamiento -->
      <!-- <div *ngIf="showingAccommodation" class="accommodation">
        <h3>Opciones de Alojamiento</h3>
        <p>Descripción de las opciones de alojamiento disponibles.</p>
      </div> -->
      <div *ngIf="showingAccommodation" class="accommodation">
        <h3>Opciones de Alojamiento</h3>
        <p>Válido desde el 01 de Mar hasta:</p>
        <div class="accommodation-container">
        <table class="accommodation-table">
          <thead>
            <tr>
              <th>HOTEL</th>
              <th>CAT</th>
              <th>SINGLE</th>
              <th>DOBLE</th>
              <th>TRIPLE</th>
              <th>Válido Hasta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ALTO S. ISIDRO</td>
              <td>Bout</td>
              <td>$ 31239</td>
              <td>$ 15675</td>
              <td>$ 14350</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>HOTEL BAHIA</td>
              <td>4*</td>
              <td>$ 23900</td>
              <td>$ 12780</td>
              <td>Consultar</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>HOTEL LIDO</td>
              <td>4*</td>
              <td>$ 19744</td>
              <td>$ 9928</td>
              <td>Consultar</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>CASEROS 248</td>
              <td>3*+</td>
              <td>$ 21770</td>
              <td>$ 11953</td>
              <td>Consultar</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>KUBE APART</td>
              <td>3*</td>
              <td>$ 15300</td>
              <td>$ 9150</td>
              <td>$ 7199</td>
              <td>30/09/2025</td>
            </tr>
          </tbody>
        </table>
      </div>
        <p class="disclaimer">Valores válidos para pasajeros argentinos. Consultar condiciones agencia de viajes</p>
      </div>    
    </div>
  </div>
