.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo */
  margin: 40px auto; /* Centrado horizontal */
  padding: 20px;


  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color:rgba(0, 0, 0, 0.6); 

  position: relative; 
  background-size: cover;
  background-position: center;
  color: #e64a19;
}


h2 {
  font-size: 24px;
  margin-bottom: 20px;
}


form {
  width: 100%;
  height: 100vh;
  max-width: 400px; 
  display: flex;
  flex-direction: column;
}


label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}


input {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}


button {
  padding: 5px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


p {
  margin-top: 15px;
  font-size: 14px;
  color: green;
}


a {
  color: #007bff;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #007bff;
}


.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
  padding-right: 40px; /* espacio para el botón */
  
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}
.error {
  color: red;
  margin-top: 4px;
}