

  <div class="comentarios-container">
    
    <div class="comentario" *ngFor="let comentario of comentarios">
      <div class="comentario-con-avatar">
        <!--<img class="avatar" src="path_to_avatar" alt="Avatar">-->
        <div class="comentario-info">
          <div class="comentario-header">
            {{ comentario.nombreUsuario }} 
            <!--<span class="fecha">{{ comentario.fecha | date:'short' }}</span>-->
          </div>
          <div class="comentario-body">
            {{ comentario.content }}
          </div>
          <div class="comentario-footer">
           <!-- <button class="comentario-button">Me gusta</button>-->
          </div>
        </div>
      </div>
      <div class="comentario-footer">
        <button 
          *ngIf="usuarioLogueado && comentario.userId === authService.getUserId()" 
          (click)="eliminarComentario(comentario)">
          🗑️ Eliminar
        </button>
      </div>
    </div>
    <div *ngIf="usuarioLogueado" class="comentario-form">
      <h4>Escribe tu comentario</h4>
      <textarea [(ngModel)]="nuevoComentario" placeholder="Escribe tu comentario aquí..." rows="3"></textarea>
      <button (click)="agregarComentario()">Enviar Comentario</button>
    </div>
    <div *ngIf="!usuarioLogueado" class="comentario-login-msg">
      <p>Iniciá sesión para dejar tu comentario.</p>
    </div>
    
  </div>
  