
<div class="content">
      <h2 class="title">Destinos Disponibles</h2>
  
      <!-- Contenedor para botones e imágenes -->
      <div class="destinations-container">
        <div class="destinations">
          <button (click)="fetchImage('Buenos Aires Capital Federal')">Buenos Aires</button>
          <button (click)="fetchImage('Mendoza')">Mendoza</button>
          <button (click)="fetchImage('Córdoba Argentina')">Córdoba</button>
          <button (click)="fetchImage('Bariloche Cerro Campanario')">Bariloche</button>
          <button (click)="fetchImage('Iguazú')">Iguazú</button>
          <button (click)="fetchImage('Salta Argentina')">Salta</button>
        </div>
  
        <!-- Imagenes del destino seleccionado -->
        <div class="image-container" *ngIf="imageUrls.length > 0">
          <img *ngFor="let url of imageUrls" [src]="url" alt="Imagen del destino" />
        </div>
  
        <!-- Descripción del destino seleccionado -->
        <div *ngIf="description" class="description-container">
          <p>{{ description }}</p>
        </div>
        <div *ngIf="selectedDestinationId">
          <button (click)="showComments = !showComments">
            {{ showComments ? 'Ocultar Reseñas' : 'Ver Reseñas' }}
          </button>
        
          <app-comentarios *ngIf="showComments" [destinationId]="selectedDestinationId"></app-comentarios>
        </div>
      </div>
    
  </div>
  
