 <!-- Buscador -->

 <div class="search-container">
  <input type="text" [(ngModel)]="customSearch" placeholder="Buscar otro destino...">
  <button (click)="buscarDestino()">Buscar</button>
</div>

<div class="content">

     
  
      <!-- Contenedor para botones e imágenes -->
      <div class="destinations-container fade-right">
        <h2 class="title">Destinos Disponibles</h2>
        <div class="destinations">
          <button (click)="fetchImage('Buenos Aires Capital Federal')">Buenos Aires</button>
          <button (click)="fetchImage('Mendoza')">Mendoza</button>
          <button (click)="fetchImage('Córdoba Argentina')">Córdoba</button>
          <button (click)="fetchImage('Bariloche Cerro Campanario')">Bariloche</button>
          <button (click)="fetchImage('Iguazú')">Iguazú</button>
          <button (click)="fetchImage('Salta Argentina')">Salta</button>
        </div>

        
        <!-- Imagenes del destino seleccionado -->
        <div *ngIf="loading" class="loading-spinner">Cargando imágenes...</div>
        <div class="destino-layout" *ngIf="!loading && imageUrls.length > 0"> 
          <div class="image-container" >
          <img *ngFor="let url of imageUrls" [src]="url" alt="Imagen del destino" />
          </div>
          <article *ngIf="description" class="descripcion-article">
          <h3>Descripción del destino</h3>
          <p>{{ description }}</p>
          </article>
      </div>

        <!-- Descripción del destino seleccionado -->
         <!--
        <div *ngIf="description" class="description-container">
          <p>{{ description }}</p>
        </div>
        -->
        <div *ngIf="selectedDestinationId">
          <button class="toggle-comments" (click)="showComments = !showComments">
            {{ showComments ? 'Ocultar Reseñas' : 'Ver Reseñas' }}
          </button>
        
          <app-comentarios *ngIf="showComments" [destinationId]="selectedDestinationId"></app-comentarios>
        </div>
      </div>
      
  </div>
  
