<div class="destinations-container">
    <div class="destinations">
      <button (click)="showDetails()">Detalles</button>
      <button (click)="showItinerary()">Itinerario</button>
      <button (click)="showLocation()">Ubicación</button>
      <button (click)="showAccommodation()">Opciones de Alojamiento</button>
    </div>
  
    <!-- Contenido dinámico basado en el botón seleccionado -->
    <div class="description-container">
      <!-- Detalles del paquete -->
      <div *ngIf="showingDetails" class="description">
        <h2>Paquete Turístico a Mendoza</h2>
        <p class="text">
            Este programa te invita a descubrir Mendoza de una forma auténtica y emocionante, 
            sumergiéndote en su cultura del vino, sus paisajes naturales y su rica tradición.    
         <br>
         <br>
         PROGRAMA “MENDOZA SOÑADA”
          <br>
          <br>
          Este paquete ofrece una experiencia inolvidable en Mendoza, donde podrás disfrutar de la 
          tranquilidad de sus viñedos, los majestuosos Andes y la hospitalidad mendocina. 
          Ideal para disfrutar en pareja, en familia o con amigos. Incluye un recorrido 
          único por los viñedos y bodegas de renombre, ¡EN BICICLETA! Pedaleando entre los 
          viñedos mientras aprendes sobre el proceso de vinificación y degustas algunos de los 
          mejores vinos de la región. También ofrecemos la opción de un tour guiado en bus para
           quienes prefieren un recorrido más relajado.
          <br>
          <br>
          LUGAR DE PARTIDA/REGRESO
          Aeropuerto Internacional de Mendoza (El Plumerillo)
          <br>  
          <br>  
          HORARIO DE SALIDA
            A confirmar
          <br>  
          <br>  
          INCLUIDO 	
          Traslados In/ Out. 	4 noches de alojamiento con desayuno.
          City BIKE tour por la ciudad. 	Refrigerio durante el recorrido.
          NO INCLUIDO
          <br>  
          <br>  
          Entradas a museos.
          Otros gastos
          <br>
          <br>
          Valor final por pasajero en base doble:

          $ 175,000 (alojando en Hotel Raíces Aconcagua 3*)
          $ 215,000 (alojando en Park Hyatt Mendoza 5*)
          <br>
          <br>
          **Consultar otras opciones de alojamiento**
          <br>
          <br>
          Comisionable para agencias
          Tarifas por persona, sujetas a disponibilidad y a modificaciones.
          Adicionar 2% de gastos administrativos.
        </p>
      </div>
  
        <!-- Itinerario del paquete -->
      <div *ngIf="showingItinerary" class="itinerary">
        <h3>Itinerario</h3>
        <ul class="items">
          <li>
            Día 1: Llegada a Mendoza
            Arribo a la ciudad de Mendoza. Traslado al hotel y check-in.
            Tarde libre para explorar la ciudad o relajarse en el alojamiento.
            
            </li>
            <li>
                Día 2: Bike Tour de Viñedos
                Después del desayuno, nos encontramos en el punto de partida para comenzar el Bike Tour de Viñedos, 
                recorriendo bodegas y viñedos emblemáticos en bicicleta, con degustaciones incluidas. 
                Tarde libre para disfrutar de la gastronomía local o seguir explorando.
            </li>
            <li>
                Día 3: Día Libre y Regreso
                Mañana libre para visitar tiendas de vinos, realizar compras o explorar más la ciudad. Traslado al aeropuerto o terminal 
                en el horario acordado para el regreso.
                
               
            </li>
        </ul>
      </div>
    
  
      <!-- Ubicación del hotel -->
      <div *ngIf="showingLocation" class="map-container iframe">
        <h3>Ubicación Hotel DAKAR</h3>
        <!-- <a href="https://maps.app.goo.gl/rgeZsj7h8RCoGPkm8" target="_blank" style="text-decoration: none; color: blue;">
          Ver ubicación en Google Maps
        </a> -->
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53609.11760382558!2d-68.89971884382429!3d-32.883098697403085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e09f2a1cf7edf%3A0x203cb49aa9fd66ad!2sDakar%20Hoteles!5e0!3m2!1ses-419!2sar!4v1731273189196!5m2!1ses-419!2sar" 
            width="600" 
            height="450" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div> 
      
  
      <!-- Opciones de alojamiento -->
      <!-- <div *ngIf="showingAccommodation" class="accommodation">
        <h3>Opciones de Alojamiento</h3>
        <p>Descripción de las opciones de alojamiento disponibles.</p>
      </div> -->
      <div *ngIf="showingAccommodation" class="accommodation">
        <h3>Opciones de Alojamiento</h3>
        <p>Válido desde el 01 de Mar hasta:</p>
        <div class="accommodation-container">
        <table class="accommodation-table">
          <thead>
            <tr>
              <th>HOTEL</th>
              <th>CAT</th>
              <th>SINGLE</th>
              <th>DOBLE</th>
              <th>TRIPLE</th>
              <th>Válido Hasta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>HOTEL DAKAR</td>
              <td>Bout</td>
              <td>$ 31239</td>
              <td>$ 15675</td>
              <td>$ 14350</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>HOTEL MDZ</td>
              <td>4*</td>
              <td>$ 23900</td>
              <td>$ 12780</td>
              <td>Consultar</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>HOTEL LIDO</td>
              <td>4*</td>
              <td>$ 19744</td>
              <td>$ 9928</td>
              <td>Consultar</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>CASEROS 248</td>
              <td>3*+</td>
              <td>$ 21770</td>
              <td>$ 11953</td>
              <td>Consultar</td>
              <td>30/09/2025</td>
            </tr>
            <tr>
              <td>HOTEL PANORAMA</td>
              <td>3*</td>
              <td>$ 15300</td>
              <td>$ 9150</td>
              <td>$ 7199</td>
              <td>30/09/2025</td>
            </tr>
          </tbody>
        </table>
      </div>
        <p class="disclaimer">Valores válidos para pasajeros argentinos. Consultar condiciones agencia de viajes</p>
      </div>    
    </div>
  </div>

